<section ng-controller="HarnessesController" ng-init="find()">
  <div class="page-header">
    <h1>Harnesses</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="harness in harnesses" ui-sref="harnesses.view({harnessId: harness._id})" class="list-group-item" style="padding-bottom:20px;">
      <small>
        <em class="text-muted">
          Posted on
          <span ng-bind="harness.created | date:'mediumDate'"></span>
          by
          <span ng-bind="harness.user.displayName"></span>
        </em>
      </small>
      <div class="pull-right">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-success pill-label" ng-class="{'active':harness.harness_status==1}">
            <input type="radio" ng-value=1 ng-model="harness.harness_status"> Deployed
          </label>
          <label class="btn btn-success pill-label" ng-class="{'active':harness.harness_status==2}">
            <input type="radio" ng-value=2 ng-model="harness.harness_status"> Tested <span class="glyphicon glyphicon-adjust"></span>
          </label>
          <label class="btn btn-success pill-label" ng-class="{'active':harness. harness_status==3}" >
            <input type="radio" ng-value=3 ng-model="harness.harness_status"> Ready <span class="glyphicon glyphicon-light"></span>
          </label>
        </div>
      </div>
      <div ng-bind="harness.meta_data">
        Empty
      </div>
      <!-- <label ng-href="https://{{harness.vm_name}}.klipfolio.com">link1</label> -->
      <!-- <a ng-href="https://{{harness.vm_name}}.klipfolio.com:3000">link1</a> -->
      <!-- <a href="https://{{harness.vm_name}}.klipfolio.com"><h1 ng-bind="harness.vm_name"></h1></a> -->
      <!-- <a href="https://{{harness.vm_name}}.klipfolio.com:3000"><h1 ng-bind="harness.vm_name"></h1></a> -->

<!--
      <div class="row" ng-class="{hidden:harness.wu.branch == ''}">
        <div class="row col-sm-offset-1 col-sm-4">WebUI</div><div class="col-sm-3" style="" ng-bind="harness.wu.branch" ><span class="pull-right"></span></div>
        <span style="" class="label label-primary label-pill pull-right">GRADLE</span>
        <span class="label label-primary label-pill pull-right">API</span>
        <span  class="label label-primary label-pill pull-right">WEB</span>
      </div>
      <div class="row" ng-class="{hidden:harness.dc.branch == ''}">
        <div class="row col-sm-offset-1 col-sm-4">Data Connector</div><div class="col-sm-4" ng-bind="harness.dc.branch" ><span class="pull-right">$42</span></div>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">GRADLE</span>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">API</span>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">WEB</span>
      </div>
      <div class="row" ng-class="{hidden:harness.df.branch == ''}">
        <div class="row col-sm-offset-1 col-sm-4">Data Formula</div><div class="col-sm-4" ng-bind="harness.df.branch" ><span class="pull-right">$42</span></div>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">GRADLE</span>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">API</span>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">WEB</span>
      </div>
      <div class="row" ng-class="{hidden:harness.rf.branch == ''}">
        <div class="row col-sm-offset-1 col-sm-4">Refresh</div><div class="col-sm-4" ng-bind="harness.rf.branch" ><span class="pull-right">$42</span></div>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">GRADLE</span>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">API</span>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">WEB</span>
      </div>
      <div class="row" ng-class="{hidden:harness.dp.branch == ''}">
        <div class="row col-sm-offset-1 col-sm-4">Data Provider</div><div class="col-sm-4" ng-bind="harness.dp.branch" ><span class="pull-right">$42</span></div>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">GRADLE</span>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">API</span>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">WEB</span>
      </div>
      <div class="row" ng-class="{hidden:harness.ee.branch == ''}">
        <div class="row col-sm-offset-1 col-sm-4">Data Evaluator</div><div class="col-sm-4" ng-bind="harness.ee.branch" ><span class="pull-right">$42</span></div>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">GRADLE</span>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">API</span>
        <span style="padding-left:15px" class="label label-primary label-pill pull-right">WEB</span>
      </div> -->
    </a>
  </div>
<div class="alert alert-warning text-center" ng-if="harnesses.$resolved && !harnesses.length">
  No harnesses yet, why don't you <a ui-sref="harnesses.create">create one</a>?
</div>
</section>
